/* Login */

.login_section{
    background-color: rgb(243 244 246);
    display: none;
    height: 720px;
    place-content: center;
    padding-left: 2px;
    padding-right: 2px;
    margin: 0;
}

.login_form{
    display: grid;
    gap: 24px;
    background-color: white;
    border-radius: 12px;
    padding: 16px;
    max-width: 350px;    
}

.login_form h3 {
    font-weight: 600;
    font-size: 20px;
    line-height: 28px;
}

.login_form div{
    display: grid;
    gap: 8px;
}

.login_form label{
    font-size: 14px;
    line-height: 20px;
}

.login_form input{
    border-color: rgb(209 213 219);
    border-width: 1px;
    outline: 2px solid transparent;
    outline-offset: 2px;
    padding-left: 8px;
    padding-right: 8px;
    border-radius: 2px;
}

.login_form button{
    display: block;
    width: 100%;
    background-color: #1E2A5E;
    border-radius: 0px;
    padding-top: 8px;
    padding-bottom: 8px;
}

.login_form button:hover{
    background-color: #30418e;
    transition-property: color, background-color, border-color, text-decoration-color, fill, stroke;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    transition-duration: 150ms;
}
.login_form span{
   
}



